<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xe.demo.flagsdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- <intent-filter> -->
            <!-- <action android:name="com.xe.demo.flagsdemo"></action> -->
            <!-- <category android:name="android.intent.category.DEFAULT"></category> -->
            <!-- <data android:scheme="epbox" -->
            <!-- /> -->
            <!-- &lt;!&ndash;android:host="www.demo.com"&ndash;&gt; -->
            <!-- &lt;!&ndash;android:port="8080"&ndash;&gt; -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".FlagActivityClearTopActivity" />
        <activity android:name=".TwoFlagActivityClearTopActivity" />
        <activity android:name=".FlagActivityNewTaskActivity" />
        <activity
            android:name=".TwoFlagActivityNewTaskActivity"
             />
        <activity android:name=".FlagActivitySingleTopActivity" />
        <activity android:name=".FlagActivityReorderToFrontActivity" />
        <activity android:name=".TwoFlagActivityReorderToFrontActivity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="homePage"
                    android:scheme="recyclemobilephones" />


            </intent-filter>
        </activity>
    </application>

</manifest>